<div class="jg-shell" [class.--over-large-tablet]="!isMaxLargeTablet">
  <mat-toolbar class="toolbar">
    <ng-container *ngIf="isMaxLargeTablet; else desktopView">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">Games</h1>
    </ng-container>

    <ng-template #desktopView>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
        <h2 class="game-category">Top Games</h2>
        <h2 class="game-category">New Games</h2>
        <h2 class="game-category">Slots</h2>
        <h2 class="game-category">Jackpots</h2>
        <h2 class="game-category">Live</h2>
        <h2 class="game-category">Blackjack</h2>
        <h2 class="game-category">Roulette</h2>
        <h2 class="game-category">Table</h2>
        <h2 class="game-category">Poker</h2>
        <h2 class="game-category">Other</h2>
      </div>
    </ng-template>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="side" [fixedInViewport]="isMaxLargeTablet" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Top Games</a>
        <a mat-list-item routerLink=".">New Games</a>
        <a mat-list-item routerLink=".">Slots</a>
        <a mat-list-item routerLink=".">Jackpots</a>
        <a mat-list-item routerLink=".">Live</a>
        <a mat-list-item routerLink=".">Blackjack</a>
        <a mat-list-item routerLink=".">Roulette</a>
        <a mat-list-item routerLink=".">Table</a>
        <a mat-list-item routerLink=".">Poker</a>
        <a mat-list-item routerLink=".">Other</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
