$navbar-grey: #3f3f3f;

.jg-shell {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;

  .title {
    margin-left: 8px;
    font-weight: 300;
    font-size: 23px;
  }

  .sidenav-container {
    flex: 1;
  }

  .sidenav-container {
    flex: 1 0 auto;
  }

  &.--over-large-tablet {
    position: absolute;
    z-index: unset;

    .game-category {
      font-weight: 300;
      font-size: 26px;
    }
  }
}

::ng-deep .jg-shell {
  .mat-toolbar {
    background: $navbar-grey;
    color: white;
  }

  .mat-toolbar-single-row {
    padding: 0 30px;
    height: 50px;
  }

  &.--over-large-tablet {
    .mat-toolbar-single-row {
      padding: 0 40px;
      height: 60px;
    }
  }
}
